*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url(../img/border.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    overflow: hidden;
} */

/* #loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fall 2.5s ease-in forwards;
    z-index: 1;
}

#loader img{
    width: 100%;
    height: auto;
    max-width: 55rem;
    max-height: 55rem;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    80% {
        transform: translateY(80vh);
        opacity: 1;
    }
    100% {
        transform: translateY(70vh);
        opacity: 1;
    }
} */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv{
    display: none;
    text-align: center;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}